body{
    margin: 0px;
    padding: 0px;
    background: #E5E5E5;
    font-family: 'Rubik', sans-serif;
}
.container{
    margin: auto;
    width: 1440px;
    height: 1024px;
    padding: 5px;
}
.logo{
    margin-top: 5%;
    margin-left: 20px;
    width: 100%;
    float: left;
    background: #E5E5E5;
    mix-blend-mode: color-burn;
}
.logoImagen{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
    transform: scale(150%);
    background: #E5E5E5;
}
.izquierdo{
    float: left;
    width: 70%;
    height: 68%;
    border-radius: 30px;
}
.txtEntrada{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: clamp(12px, 8vw ,75px);
    border: none;
    outline: none;
    background: #E5E5E5;
}
.derecho{
    float: right;
    width: 30%;
    height: 80%;
    border-radius: 10px;
    background: radial-gradient(#567396 10%, #E5E5E5 90%);
}
#muneco{
    margin-top: 20%;
    margin-left: 7%;
    width: 90%;
    height: auto; 
}
#texto{
    margin-left: 5%;
    margin-right: 5%;
}
#texto2{
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    color: #0A3871;
    width: 90%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 30px;
    display: none;
    background: none;
}
#btn_copiar{
    /*margin-left: 33%;
    margin-top: 80px;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #d8dfe8;
    border-radius: 25px;*/
    display: none;
}
.exclamacion{
    margin-left: 10%;
    width: 16px;
    height: 10px;
    display: inline-block;
    mix-blend-mode: color-burn;
}
.mensaje{
    font-size: 15px;
    color: #495057;
}
.botoneras{
    float: inline-end;
    width: 70%;
    height: auto;
    border-radius: 20px;
    font-weight: bold;
}
.derechoCel{
    visibility: hidden;
    float:inline-end;
    width: auto;
    height: auto;
    border-radius: 10px;
    background: radial-gradient(#567396 10%, #E5E5E5 90%);
}

#derechoCel{
    display: none;
}

footer{
    text-align: center;
    padding: 2em;
    mix-blend-mode: color-burn;
}

@media screen and (min-width:360px) and (max-width:380px){
    .container, .btnEncripto, .btnDesEncripto {
        width: auto;
        height: auto;
    }   
    .txtEntrada{
        width: auto;
        height: 200px;
    } 
    .izquierdo {
        width: auto;
        height: 70%;
    }
    .derecho{
        display: none;
    }    
    #derechoCel{
        display: none;
        visibility: visible;
        margin-top: 50px;
        margin-left: 30px;
    }
    #texto2Bis{
        text-align: center;
        padding: 15px;
        font-weight: bold;
        height: 100px;
        width: 88%;
        font-size: x-large;
        border-radius: 20px;
        float: inherit;
    }
    .botoneras{
        width: 375px;
        padding: 20px;
    }
   
    .footer{
        margin-top: 15px;
    }
}

@media screen and (min-width:381px) and (max-width:770px) {
    .container, .btnEncripto, .btnDesEncripto {
        width: 768px;
        height: auto;
    }   
    .txtEntrada{
        width: auto;
        height: 200px;
    } 
    .izquierdo {
        width: 90%;
        height: 70%;
    }
    .derecho{
        display: none;
    }    
    #derechoCel{
        display: none;
        visibility: visible;
        margin-top: 50px;
        margin-left: 30px;
    }
    #texto2Bis{
        text-align: center;
        padding: 15px;
        font-weight: bold;
        height: 100px;
        width: 88%;
        font-size: x-large;
        border-radius: 20px;
        float: inherit;
    }
    
    #btn_encriptar, #btn_desencriptar, #btn_copiarCel {
        width: 375px;
        padding: 20px;
        margin-left: 30px;
        margin-top: 16px;
        height: auto;
        border-radius: 20px;
        font-weight: bold;
    }
    .footer{
        margin-top: 15px;
    }
}